{% extends 'final_app/base.html' %}

{% block title %}
LOGIN
{% endblock %}

{% block content %}
<div class="jumboron">
    <h2>PLEASE LOGIN..</h2>
    <form action="{% url 'user_login' %}" method="post">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Username">

        <label for="password">Password</label>
        <input type="password" name="password">

        <button class="btn-primary">Submit</button>
    </form>
</div>
{% endblock %}